<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SocoChess AI</title>
        <meta name="viewport" content="width=5px, user-scalable=yes, initial-scale=0.5"/>
        <link rel="stylesheet" href="/src/styles/cm-chessboard.css"/>
        <link rel="stylesheet" href="/src/chesscss.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <ul class="navbar">
            <li class="navbar nav-inn"><a href="/" class="nav-inn-links">Home</a></li>
            <li class="navbar nav-inn"><a href="/play/ai" class="nav-inn-links">Play Against AI2</a></li>
            <li class="navbar nav-inn"><a href="/play/menu" class="nav-inn-links">Play Against a Friend</a></li>
            <li class="navbar nav-inn" style="float:right;"><a href="/profile" class="nav-inn-links">Profile</a></li>
        </ul>
        <h1 id="title">
            Hi {{personal.name}}! Play against your friends!
        </h1>
        <br>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <div>
            <ul>
            {{#each nameList}}
                <li><a href="/play/createLink?opp={{this}}">{{this}}</a></li>
            {{/each}}
            </ul>
        </div>
        <!--suppress JSUnresolvedFunction -->
        <script src="/css/PvEsrc.js" type="module"></script>
    </body>
</html>